---
---

@import "{{ site.theme }}";

.excerpt .toc, 
.excerpt h1, 
.excerpt h2 {
    display: none;
}

/* Styles for foldable TOC */
#toc-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

#toc-container h2 {
  cursor: pointer;
}

#toc-content {
  display: none; /* Initially hidden */
  margin-top: 10px;
}
